<template>
  <q-page class="row items-center justify-evenly">
    <CoursCard
      v-for="cours in data.courses"
      :key="cours.id"
      :files-count="5"
      :name="cours.title"
    />
  </q-page>
</template>

<script setup lang="ts">
import CoursCard from 'src/components/CoursCard.vue';
import { onBeforeMount, reactive } from 'vue';
import { getCourses } from 'src/services/cours/api';

const data = reactive({
  courses: [] as API.Cours[],
});

onBeforeMount(() => {
  getCourses().then((response) => {
    data.courses = response.data;
  });
});
</script>
