<template>
  <div class="flex flex-col h-screen w-full justify-center items-center gap-2">
    <q-input
      v-model="data.username"
      label="username"
      dense
      outlined
      autofocus
    />
    <q-input
      v-model="data.password"
      type="password"
      label="password"
      dense
      outlined
    />
    <q-btn color="primary" label="login" @click="onLogin" />
  </div>
</template>

<script setup lang="ts">
import { useUserStore } from 'src/stores/user';
import { onBeforeMount, reactive } from 'vue';
import { useRouter } from 'vue-router';

const data = reactive({
  username: 'andev',
  password: 'andev',
} as API.UserLoginForm);

const userStore = useUserStore();

const onLogin = () => {
  userStore.userLoginAction(data).then(() => router.push({ name: 'home' }));
};

const router = useRouter();

onBeforeMount(() => {
  if (userStore.isLoggedIn) {
    router.push({ name: 'home' });
  } else {
    console.log('user is nooooooooot logged');
  }
});
</script>

<style scoped></style>
