<template>
  <q-card class="p-3 flex flex-col gap-2">
    <span>
      {{ props.name }} <span>({{ props.filesCount }})</span></span
    >

    <span>{{ props.category }}</span>
  </q-card>
</template>

<script setup lang="ts">
const props = defineProps({
  name: {
    type: String,
    default: '_',
  },
  filesCount: {
    type: Number,
    default: 0,
  },
  category: {
    type: Object as () => API.Category,
    required: false,
  },
});
</script>

<style scoped></style>
