<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title> Quasar App </q-toolbar-title>

        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above bordered>
      <q-list>
        <q-item-label header> Categories </q-item-label>
        <EssentialLink
          v-for="category in data.categories"
          :key="category.id"
          :title="category.title"
          :link="'/category/' + category.id"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup lang="ts">
import EssentialLink from 'src/components/EssentialLink.vue';
import { onBeforeMount, reactive, ref } from 'vue';
import { getCategories } from 'src/services/category/api';

const leftDrawerOpen = ref(false);

function toggleLeftDrawer() {
  leftDrawerOpen.value = !leftDrawerOpen.value;
}
const data = reactive({
  categories: [] as API.Category[],
});
onBeforeMount(() => {
  getCategories().then((response) => {
    data.categories = response.data;
  });
});
</script>
